{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/css/jquery.pagination.css"/>
    <script src="/static/js/jquery.pagination.min.js"></script>

    <style>
        .box {
            width: 800px;
            margin: 100px auto 0;
            height: 34px;
        }

        .page {
            width: 600px;
            height: 32px;
            text-align: center;
            font-size: 0;
            margin: 30px auto;
        }
    </style>


{% endblock %}
{% block middle %}

    <div class="main_wrap clearfix">


        <ul class="goods_type_list clearfix">
{#        注：因为类视图继承了TemplateView，所以其中的page变量名字改变了，如果不写page_obj将会读不出来结果#}
            {% for item in page_obj %}
                <li>
                    <a href="/detail_{{ item.object.id }}/"><img src="/static/{{ item.object.pic }}"></a>
                    <h4><a href="/detail_{{ item.object.id }}/">{{ item.object.name }}</a></h4>
                    <div class="operate">
                        <span class="prize">￥{{ item.object.price }}</span>
                        <span class="unit">{{ item.object.price }}/{{ item.object.unit }}</span>
                        <a href="#" class="add_goods" title="加入购物车"></a>
                    </div>
                </li>
            {% endfor %}
        </ul>

        {#分页#}
        <div class="box">
            <div id="pagination" class="page"></div>
        </div>

        <script>
            $("#pagination").pagination({
                currentPage: {{ page_obj.number }},
                totalPage: {{ paginator.num_pages }},
                isShow: false,
                count: 5,
                prevPageText: "< 上一页",
                nextPageText: "下一页 >",
                callback: function (current) {
                    // alert(current);
                    location.href = '/search/?q={{ query }}&page=' + current;
                }
            });
        </script>

    </div>
{% endblock %}